@import "global.css";
@import "verb_regular/stylesheet.css";
@import "verb_medium/stylesheet.css";
@import "verb_bold/stylesheet.css";
@import "verb_light/stylesheet.css";

/* Vars
----------------------------------------------------------------------------------------*/
.headline {
    font-family: "verb_regularbold", "Helvetica Neue", helvetica, sans-serif;
    font-weight: normal;
}
.copy {
    font-family: "verb_regularregular", "Helvetica Neue", helvetica, sans-serif;
    font-weight: normal;
}
.thin {
    font-family: "verb_lightregular", "Helvetica Neue", helvetica, sans-serif;
    font-weight: normal;
}
@offWhite: rgb(255,252,239);
@orange: rgb(221,79,46);

/* 8. CUSTOM LAYOUT & TYPOGRAPHY (Daddy bear)
----------------------------------------------------------------------------------------*/
html, body {
    min-height: 100%;
}

body {
    .copy;
    background: @orange;
    color: @offWhite;
}

.clearfix {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}

.row {
    max-width: 100%;
    min-width: 100%;
    .clearfix();
}

.column {
    float: left;
    margin-left: 1%;

    &:first-of-type {
        margin-left: 0;
    }
    &:last-child {
        float: right;
    }

    &.one {
        max-width: 100%;
        min-width: 100%;
    }

    &.two {
        max-width: 49.2%;
        min-width: 49.2%;
    }

    &.three {
        max-width: 32.6%;
        min-width: 32.6%;
    }
}

.amp {
    .thin;
    font-size: .85em;
}

.descender {
    border-bottom: 0 !important;
    text-decoration: none !important;
}

.top-margin {
    margin-top: 2em;
}

.no-bottom-margin {
    margin-bottom: 0;
}

h1, h2, h3 {
    .headline;
}

p {
    .copy;
    font-size: 1.3em;
}

#container {
    padding: 1.618em;
    margin: 0 auto;
    max-width: 60em;

    .logo {
        color: #eee;

        h1 {
            font-size: 8em;
            margin-bottom: 0;
        }

        p {
            .thin;
            font-size: 1.25em;
            letter-spacing: 0.125em;
            max-width: 100%;
            text-align: right;
            width: 100%;
        }
    }

    section {
        margin-bottom: 2em;
        .clearfix();

        h1 {
            .headline;
            color: @offWhite;
            font-size: 2.5em;
            margin-bottom: 1.5em;
            text-align: center;
        }

        div {
            h2 {
                .headline;
                color: @offWhite;
                font-size: 2em;
                letter-spacing: 0.08em;
                line-height: 1.25;
                min-height: 2.5em;

                &.no-min-height {
                    min-height: 1em;
                }
            }

            #clients {
                max-width: 40em;
            }

            ul {
                list-style: circle inside;
            }

            a {
                .thin;
                color: @offWhite;
                font-size: 0.75em;
                letter-spacing: 0.125em;
                padding: 0.25em;
                text-decoration: none;
                text-transform: uppercase;
                transition: all 0.5s;

                &:hover {
                    background: @offWhite;
                    font-size: 1em;
                    color: @orange;
                }
            }
        }
    }
}

footer {
    color: @offWhite;
    padding: 0.5em 2em;

    p {
        .headline;
        font-size: 0.75em;
        letter-spacing: 0.125em;
        margin: 0 auto;
        max-width: 45em;
        padding: 0;
        text-align: center;
        width: auto;
    }
}


/* 9. CUSTOM LAYOUT & TYPOGRAPHY (Mummy bear)
----------------------------------------------------------------------------------------*/
@media screen and (min-width: 30em) and (max-width: 63.236em) {
    #container {
        width: 30em;

        #main {
            section {
                div {
                   h2 {
                        min-height: 1em;
                    }
                }
            }
        }
    }

    .column {
        &.three {
            max-width: 98%;
            min-width: 98%;

            &:first-of-type {
                margin-left: 0;
            }
        }
    }

}


/* 10. SLABTEXT
----------------------------------------------------------------------------------------*/

.slabtexted .slabtext {
    display: -moz-inline-box;
    display: inline-block;
    white-space: nowrap
}

.slabtextinactive .slabtext {
    display: inline;
    white-space: normal;
    font-size: 1em !important;
    letter-spacing: inherit !important;
    word-spacing: inherit !important;
    *letter-spacing: 0 !important;
    *word-spacing: 0 !important;
}

.slabtextdone .slabtext {
    display: block;
    line-height: 0.9;
}
