<!doctype html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
    <head>
        {% block starthead %}{% endblock starthead %}
        <meta charset="UTF-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>{% block title %}{{ resource.meta.title }}{% endblock %}</title>
        <meta name="description" content="{{ resource.meta.description }}">
        <meta name="author" content="{{ resource.meta.author }}">

        <!--  Mobile viewport optimized: j.mp/bplateviewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block css %}
        <link href='http://fonts.googleapis.com/css?family=Maven+Pro:900,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ media_url('css/GGS.css') }}">
        <link rel="stylesheet" href="{{ media_url('css/gigantuan.css') }}">
        {% endblock css %}

        {% block headjs %}
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% endblock headjs %}
        {% block endhead %}{% endblock endhead %}
    </head>
    <body>
        <header role="banner">
            <h1>Gigantuan</h1>
        </header>
        {% block main %}{% endblock %}
        {% block js %}
        {% block jquery %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
        <script>window.jQuery || document.write('<script src="js/libs/jquery-1.5.1.min.js">\x3C/script>')</script>
        <script src="{{ media_url('js/libs/jquery.fittext.js') }}"></script>
        {% endblock jquery %}

        {% block scripts %}
        <script>
            $('header[role="banner"] h1').fitText(0.8);
        </script>
        {% endblock scripts %}

        {% block analytics %}
        {% include "analytics.j2" %}
        {% endblock analytics %}

        {% endblock js %}
    </body>
</html>
